#question-form label {
    font-size: 1.4em;
    font-weight: bold;
}

#question-form textarea {
    font-size: 0.95em;
    margin: 0.2em;
}

#questions li {
    padding: 1em 0;
    width: 85vw;
}

#questions li:not(:last-child) {
    border-bottom: 0.1em solid var(--bg-secondary-colour);
}

.question {
    display: inline-block;
    font-size: 1.4em;
    margin-bottom: 0.5em;
}

.answer {
    margin-left: 1em;
}

.answer ul, .answer ol {
    padding-left: 40px;
}
