{{> base }}

{{#*inline 'styles'}}
<link rel='stylesheet' href='/styles/home.css?v={{getLaunchTime}}' />
{{/inline}}

{{#*inline 'body'}}
<body>
    <div id='content-wrapper'>
        <h1 id='logo'>Sventi's Corner</h1>
        <nav id='site-nav'>
            <ul>
                <li><a href='/questions'>Questions</a></li>
                <li><a href='/music'>Music</a></li>
                <li><a href='/notes'>Notes</a></li>
            </ul>
        </nav>
    </div>
</body>
{{/inline}}
