<!DOCTYPE html>
<html>
{{> defaultHead title='Music'}}
<body>
    <ul id='songs'>
        {{#each songs}}
            <li><a target='_blank' href='/music/{{this.filename}}'>{{this.originalName}}</a></li>
        {{/each}}
    </ul>
</body>
</html>
