{{> default title='Music'}}

{{#*inline 'main'}}
<main>
    <ul id='songs'>
    {{#each songs}}
        <li><a target='_blank' href='/music/{{this.filename}}'>{{this.originalName}}</a></li>
    {{/each}}
    </ul>
</main>
{{/inline}}
