<!DOCTYPE html>
<html>
{{> defaultHead title='Answer Questions'}}
<body>
    <h1>Pending Questions:</h1>
    <p>Number of unanswered questions: <b id='numOfQuestions'>{{numOfQuestions}}</b></p>
    <ul id='questions' style='padding-left:1em'>
        {{#each questions}}
            <li style='margin-bottom:1.5em'>
                <form onsubmit='return answerQuestion(event)'>
                    <label class='answer-label' for='answer' time='{{this.timestamp}}'>
                        <div style='font-size:1.5em'><b>{{this.question}}</b></div>
                    </label>
                    <textarea id='{{this._id}}' name='answer' rows='4' cols='35'></textarea></br>
                    <input type='submit' value='Submit'/>
                </form>
            </li>
        {{/each}}
    </ul>
    <a href='/questions'>Back to questions</a>
    {{> goodTime }}
    <script>
        for (let label of document.getElementsByClassName('answer-label')) {
            const timeString = goodTime(parseInt(label.getAttribute('time')))
            label.innerHTML = timeString + label.innerHTML
        }

        function answerQuestion(event) {
            const answer = event.target.getElementsByTagName('textarea')[0];
            const id = answer.getAttribute('id');
            const value = answer.value;

            if (value.trim() === '') return false;
                        
            fetch(`/api/questions/${id}`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({answer: value})
            })
            .then(data => {
                if (data.status < 400) {
                    event.target.outerHTML = '<p>Answered</p>';

                    let numQuestionsElem = document.getElementById('numOfQuestions');
                    numQuestionsElem.innerHTML = parseInt(numQuestionsElem.innerHTML) - 1;
                } else {
                    event.target.innerHTML += '<p>Failure - check console</p>';
                    console.error(data);
                }
            })
            .catch(err => {
                event.target.innerHTML += '<p>Failure - check console</p>';
                console.error(err);
            });
            
            return false;
        }
    </script>
</body>
</html>
