<!DOCTYPE html>
<html>
{{> defaultHead title='Ask a Question'}}
{{!-- {{#*inline "styles"}}
    <link rel='stylesheet' href='/main.css' />
{{/inline}} --}}
<body>
    <form action="/api/questions" method="post">
        <label for="question">Ask a question</label></br>
        <textarea id="question" name="question"></textarea></br>
        <input type="submit" value="Submit"/>
    </form>
    <ul id='questions'>
        {{#each questions}}
            <li time="{{this.timestamp}}">
                <h3 style='display:inline'>{{this.question}}</h3>
                <p>&nbsp&nbsp&nbsp&nbsp{{this.answer}}</p>
            </li>
        {{/each}}
    </ul>
    {{> goodTime }}
    <script>
        for (let question of document.getElementById('questions').getElementsByTagName('li')) {
            const timeString = goodTime(parseInt(question.getAttribute('time')))
            question.innerHTML = timeString + ' - ' + question.innerHTML
        }
    </script>
</body>
</html>
