<!DOCTYPE html>
<html>
{{> defaultHead title='Ask a Question'}}
{{!-- {{#*inline "styles"}}
    <link rel='stylesheet' href='/main.css' />
{{/inline}} --}}
<body>
    <form action="/api/questions" method="post">
        <label for="question">Ask a question</label></br>
        <textarea id="question" name="question"></textarea></br>
        <input type="submit" value="Submit"/>
    </form>
    <ul id='questions'>
        {{#each questions}}
            <li>{{this.timestamp}} - {{this.question}}: {{this.answer}}</li>
        {{/each}}
    </ul>
</body>
</html>
