{{> default title='Thanks'}}

{{#*inline 'styles'}}
<link rel='stylesheet' href='/styles/questions-thanks.css?v=2' />
{{/inline}}

{{#*inline 'main'}}
<main>
    <p id='thanks'>Thamks</p>
    <a id='back' href='/questions'>Back at it</a>
</main>
{{/inline}}
