<!DOCTYPE html>
<html>
{{> defaultHead title='Answer Questions'}}
<body>
    <h1>Pending Questions:</h1>
    <p>Number of unanswered questions: <b id='numOfQuestions'>{{numOfQuestions}}</b></p>
    <ul id='questions'>
        {{#each questions}}
            <li>
                {{!-- TODO (optional) make good time into a partial and add timestamp somewhere here --}}
                <form onsubmit="answerQuestion(event)">
                    <label for="answer">{{this.question}}</label></br>
                    <textarea id="{{this._id}}" name="answer"></textarea></br>
                    <input type="submit" value="Submit"/>
                </form>
            </li>
        {{/each}}
    </ul>
    <script>
        function answerQuestion(event) {
            const answer = event.target.getElementsByTagName('textarea')[0];
            const id = answer.getAttribute('id');
            const value = answer.value;
                        
            fetch(`/api/questions/${id}`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({answer: value})
            })
            .then(data => {
                if (data.status < 400) {
                    event.target.outerHTML = '<p>Answered</p>';

                    let numQuestionsElem = document.getElementById('numOfQuestions');
                    numQuestionsElem.innerHTML = parseInt(numQuestionsElem.innerHTML) - 1;
                } else {
                    event.target.innerHTML += '<p>Failure - check console</p>';
                    console.error(data);
                }
            })
            .catch(err => {
                event.target.innerHTML += '<p>Failure - check console</p>';
                console.error(err);
            });
            
            event.preventDefault();
            return false;
        }
    </script>
</body>
</html>
