<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>corner questions</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <form action="/api/questions" method="post">
        <label for="question">Ask a question</label></br>
        <textarea id="question" name="question"></textarea></br>
        <input type="submit" value="Submit"/>
    </form>
    <ul id='questions'>
        {{#each questions}}
            <li>{{this.timestamp}} - {{this.question}}: {{this.answer}}</li>
        {{/each}}
    </ul>
</body>
</html>
