<!DOCTYPE html>
<html>
{{> defaultHead title='Ask a Question'}}
{{!-- {{#*inline "styles"}}
    <link rel='stylesheet' href='/main.css' />
{{/inline}} --}}
<body>
    <form action="/api/questions" method="post">
        <label for="question">Ask a question</label></br>
        <textarea id="question" name="question"></textarea></br>
        <input type="submit" value="Submit"/>
    </form>
    <ul id='questions'>
        {{#each questions}}
            <li time="{{this.timestamp}}">
                <h3 style='display:inline'>{{this.question}}</h3>
                <p>&nbsp&nbsp&nbsp&nbsp{{this.answer}}</p>
            </li>
        {{/each}}
    </ul>
    <script>
        function insertGoodTime(elem) {
            const ms = parseInt(elem.getAttribute('time'));
            const date = new Date(ms - new Date().getTimezoneOffset()/60);
            const time = date.toLocaleTimeString('en-US', {hour: 'numeric', minute: '2-digit'});
            const day = date.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric'});

            elem.innerHTML = `${day} ${time} - ` + elem.innerHTML;
        }
        for (let question of document.getElementById('questions').getElementsByTagName('li')) {
            insertGoodTime(question);
        }
    </script>
</body>
</html>
