{{> default title='Ask a Question'}}

{{#*inline 'main'}}
    <main>
    <div id='question' time='{{question.timestamp}}'>
        <h3 style='display:inline'>{{question.question}}</h3>
        <p style='margin-top:0.5em'>&nbsp&nbsp&nbsp&nbsp{{{question.answer}}}</p>
    </div>
    </main>
{{/inline}}

{{#*inline 'scripts'}}
{{> goodTime }}
<script> 
    const question = document.getElementById('question');
    const timeString = goodTime(parseInt(question.getAttribute('time')))
    question.innerHTML = timeString + ' - ' + question.innerHTML
    </script>
{{/inline}}
