<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{#unless title}}Sventi's Corner{{/unless}}{{#if title}}{{title}}{{/if}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta property='og:image' content='https://sventi.com/images/pigeon.png' />
    <meta property="og:title" content="Sventi's Corner" />
    <link rel='icon' href='/images/favicon.png' />
    <link rel='stylesheet' href='/styles/main.css?v=2' />
    {{#> styles }}{{/styles}}
</head>
{{#> body }}{{/body}}
</html>
