{{> base }}

{{#*inline 'body'}}
<body>
    <header id='site-header'>
        <a id='logo' href='/'>Sventi's Corner</a>
        <nav id='site-nav'>
            <ul>
                <li><a href='/questions'>Questions</a></li>
                <li><a href='/music'>Music</a></li>
                <li><a href='/notes'>Notes</a></li>
            </ul>
        </nav>
    </header>
    {{#> main }}{{/main}}
    <img id='pigeon' src='/images/pigeon.png?v={{getLaunchTime}}' />
    {{#> scripts }}{{/scripts}}
</body>
{{/inline}}
