{{> base }}

{{#*inline 'body'}}
<body>
    <header>
        <h1 id='site-header'>Sventi's Corner</h1>
    </header>
    {{#> main }}{{/main}}
    <img id='pigeon' src='/images/pigeon.png' />
    {{#> scripts }}{{/scripts}}
</body>
{{/inline}}
