<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{title}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta property='og:image' content='https://sventi.com/images/pigeon.png' />
    <meta property="og:title" content="Sventi's Corner" />
    <link rel='icon' href='/images/favicon.png' />
    <link rel='stylesheet' href='/styles/main.css?v=1' />
    {{#> styles }}{{/styles}}
</head>
<body>
    <header>
        <h1 id='site-header'>Sventi's Corner</h1>
    </header>
    {{#> main }}{{/main}}
    <img id='pigeon' src='/images/pigeon.png' />
    {{#> scripts }}{{/scripts}}
</body>
</html>
