{{> default title='Answer Questions'}}

{{#*inline 'styles'}}
<link rel='stylesheet' href='/styles/questions-answer.css?v=1' />
{{/inline}}

{{#*inline 'main'}}
<main>
    <h1>Pending Questions:</h1>
    <p>Number of unanswered questions: <b id='numOfQuestions'>{{numOfQuestions}}</b></p>
    <ul id='questions' style='padding-left:1em'>
    {{#each questions}}
        <li>
            <form id='{{this._id}}' class='answer-form' onsubmit='return answerQuestion(event)' time='{{this.timestamp}}'>
                <label class='question' for='answer'>{{this.question}}</label></br>
                <textarea  name='answer' rows='4' cols='35'></textarea></br>
                <input class='submit' type='submit' value='Submit'/>
            </form>
        </li>
    {{/each}}
    </ul>
    <a href='/questions'>Back to questions</a>
</main>
{{/inline}}

{{#*inline 'scripts'}}
{{> goodTime }}
<script>
    for (const form of document.getElementsByClassName('answer-form')) {
        const timeString = goodTime(parseInt(form.getAttribute('time')))
        form.innerHTML = `<p>${timeString}</p>` + form.innerHTML
    }

    function answerQuestion(event) {
        const answer = event.target.getElementsByTagName('textarea')[0];
        const id = event.target.getAttribute('id');
        const value = answer.value;

        if (value.trim() === '') return false;
                    
        fetch(`/api/questions/${id}`, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({answer: value})
        })
        .then(data => {
            if (data.status < 400) {
                event.target.outerHTML = '<p class=\'answer-form\'>Answered</p>';

                let numQuestionsElem = document.getElementById('numOfQuestions');
                numQuestionsElem.innerHTML = parseInt(numQuestionsElem.innerHTML) - 1;
            } else {
                event.target.innerHTML += '<p>Failure - check console</p>';
                console.error(data);
            }
        })
        .catch(err => {
            event.target.innerHTML += '<p>Failure - check console</p>';
            console.error(err);
        });
        
        return false;
    }
</script>
{{/inline}}
