{{> default title='Ask a Question'}}

{{#*inline 'styles'}}
<link rel='stylesheet' href='/styles/question.css?v={{getLaunchTime}}' />
{{/inline}}

{{#*inline 'main'}}
<main>
<div id='question-wrapper' time='{{question.timestamp}}'>
    <h3 id='question'>{{question.question}}</h3>
    <p id='answer'>&nbsp&nbsp&nbsp&nbsp{{{question.answer}}}</p>
</div>
</main>
{{/inline}}

{{#*inline 'scripts'}}
{{> goodTime }}
<script> 
    const question = document.getElementById('question-wrapper');
    const timeString = goodTime(parseInt(question.getAttribute('time')))
    question.innerHTML = timeString + ' - ' + question.innerHTML
    </script>
{{/inline}}
